.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
.header-part.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e5e7ee;
  padding: 0;
}
.header-part.navbar .navbar-collapse{ 
    flex: 1 1 auto;
    width: 100%;
}
.header-part.navbar .navbar-collapse .navbar-nav{ 
    width: 100%;
}
.header-part.navbar .navbar-collapse .navbar-nav.admin{ 
    margin-left: auto;
    justify-content: flex-end;
}
.header-part.navbar .navbar-collapse .inner-nav.navbar-nav{ 
    margin: 0 auto;
    width: auto;
}
.header-part.navbar .nav-link {
  font-weight: 500;
  font-size: 16px;
  color: #7f7f7f;
  line-height: 19px;
  padding: 20px 5px;
  border-bottom: 2px solid transparent;
  margin: 0 5px;
}
.header-part.navbar .nav-link.logout-link { 
  margin: 0;
}
.header-part.navbar .nav-link.active,
.header-part.navbar .nav-link:hover { 
  color: #000; 
  border-bottom-color: #309CFF;
}
