.card-form {
    width: 30rem;
    padding: 40px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 5%)
}
.container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
}
.time-pickers{ 
    width: 100%;
}
.button-submit {
    display: flex;
    justify-content: flex-end;
}
.button-cancel {
    margin-right: 20px;
}
.d-flex{
    display: flex;
}
.time-pickers{
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 80%);
    min-height: 38px;
    border-radius: 4px;
    padding: 2px 8px;
}

